# HIV Prediction Linear Regression

In [18]:
import pandas as pd

In [19]:
df = pd.read_csv('./../data/eda_init.csv', index_col=0)
df.head()

,HIVincidence,HIVprevalence,%msm12month,drugdep,unemployment_rate,household_income
0,10.9,225.5,1.715611,2.56,8.5,20304
1,8.7,163.9,1.326659,2.54,8.6,73058
2,0.0,436.0,0.708913,2.54,14.2,9145
3,0.0,191.9,1.251578,2.58,10.9,7078
4,10.4,95.4,2.812617,2.58,9.3,20934

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3140 entries, 0 to 3139
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   HIVincidence       3140 non-null   float64
 1   HIVprevalence      3140 non-null   float64
 2   %msm12month        3140 non-null   float64
 3   drugdep            3139 non-null   float64
 4   unemployment_rate  3140 non-null   float64
 5   household_income   3140 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 171.7 KB

In [21]:
df.loc[df.isna().any(axis=1), :]

,HIVincidence,HIVprevalence,%msm12month,drugdep,unemployment_rate,household_income
547,0.0,0.0,0.0,NaN,0.0,46

In [22]:
df = df.loc[~df.isna().any(axis=1), :]
df.head()

,HIVincidence,HIVprevalence,%msm12month,drugdep,unemployment_rate,household_income
0,10.9,225.5,1.715611,2.56,8.5,20304
1,8.7,163.9,1.326659,2.54,8.6,73058
2,0.0,436.0,0.708913,2.54,14.2,9145
3,0.0,191.9,1.251578,2.58,10.9,7078
4,10.4,95.4,2.812617,2.58,9.3,20934

In [25]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import KFold, train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error

In [27]:
data = df.drop(columns ='HIVincidence')
target = df['HIVincidence']

X_train, X_test, Y_train, Y_test = train_test_split(data, target, test_size = 0.25)

kf = KFold(n_splits = 5)

mean_squared = []

for train, test in kf.split(X_train):
    x_train = data.iloc[train]
    y_train = target.iloc[train]
    x_test = data.iloc[test]
    y_test = target.iloc[test]
    
    X_scaler = StandardScaler()
    X_scaler.fit(x_train)
    
    x_train = X_scaler.transform(x_train)
    x_test = X_scaler.transform(x_test)

    lin_reg = LinearRegression()
    lin_reg.fit(x_train, y_train)
    
    y_hat = lin_reg.predict(x_test)
    mean_squared.append(mean_squared_error(y_test, y_hat))

In [28]:
mean_squared

[96.4842232380441,
 1217.3297194942986,
 44.26543396763398,
 43.79908260351842,
 31.785547452900712]

In [29]:
X_test = X_scaler.transform(X_test)
dummy = lin_reg.predict(X_test)

In [31]:
mean_squared_error(Y_test, dummy)**.5

7.01427713820251

In [32]:
lin_reg.coef_

array([ 7.01738838,  1.3761661 , -0.53687905,  0.21633748,  0.41819537])

In [43]:
lin_reg.get_params()

{'copy_X': True,
 'fit_intercept': True,
 'n_jobs': None,
 'normalize': False,
 'positive': False}

In [42]:
# for n in range(0, len(X.columns)-1):
#     X.columns[0:len(X.columns)-n]